{{define "server/index"}}
{{template "common/header" .}}
<div class="container">
    <div class="alert alert-secondary">
        <button data-toggle="modal" data-method="post" data-target="#modalServer"
            class="btn btn-secondary btn-block">添加服务器</button>
    </div>
    <div class="card-deck">
        {{range $server := .servers}}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title limit-text-length"><i class="octicon octicon-server"></i>{{$server.Name}}
                </h5>
                <p class="card-text">
                    服务器地址：<samp>{{$server.Address}}</samp><br>
                    服务器端口：<samp>{{$server.Port}}</samp><br>
                    登录用户名：<samp>{{$server.Login}}</samp>
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <small class="text-muted p-2">
                    <i class="octicon octicon-clock"></i>
                    {{$log := LastServerLog .ID}}
                    最后活动于{{TimeDiff $log.StoppedAt Now}}前
                </small>
                <div data-server="{{$server|JSON}}">
                    <button class="btn btn-sm btn-secondary" data-method="patch" data-toggle="modal"
                        data-target="#modalServer"><i class="octicon octicon-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modalServer"
                        data-method="delete"><i class="octicon octicon-trashcan"></i>
                    </button>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{template "components/server" .}}
{{template "common/footer" .}}
{{end}}