{{define "repository/index"}}
{{template "common/header" .}}
<div class="container">
    <div class="alert alert-secondary pt-4">
        <div class="d-flex justify-content-center">
            <form id="formAddRepo" class="form-inline" onsubmit="return addRepoHandler('POST')">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputName">{{T .Localizer "project_name" nil}}</label>
                    <input required name="name" type="text" class="form-control" id="inputName">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="selectPlatform">{{T .Localizer "project_platform" nil}}</label>
                    <select name="platform" id="selectPlatform" class="form-control">
                        {{range $k,$v := .platforms}}
                        <option value="{{$k}}">{{$v}}</option>
                        {{end}}
                    </select>
                </div>
                {{.csrf_token}}
                <button type="submit" class="btn btn-secondary mb-2 ml-3">{{T .Localizer "create" nil}}</button>
            </form>
        </div>
    </div>
    {{/*modal add pipeline START*/}}
    <script>
        var events = {{.events }};
        var mth = 'POST';
    </script>
    <div class="modal fade" id="modalAddPipeline" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{T .Localizer "pipeline_management" nil}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        {{T .Localizer "pipeline_management_desc" nil | unsafe}}
                    </div>
                    <form id="formAddPipeline" method="POST" onsubmit="return pipelineHandler(mth)">
                        <input id="inputHDRepoID" name="repo" type="hidden">
                        <input id="inputID" name="id" type="hidden">
                        <div class="form-group">
                            <label for="iMEditPlName" class="col-form-label">{{T .Localizer "remark" nil}}</label>
                            <input required name="name" type="text" class="form-control" id="iMEditPlName">
                        </div>
                        <div class="form-group">
                            <label for="inputBranch" class="col-form-label">{{T .Localizer "branch" nil}}</label>
                            <input required name="branch" type="text" class="form-control" id="inputBranch"
                                value="master">
                        </div>
                        <div class="form-group">
                            <p>{{T .Localizer "event" nil}}
                                <small>{{T .Localizer "required" nil}}</small>
                            </p>
                            <div class="d-inline" id="listEventCheckbox"></div>
                        </div>
                        <div class="form-group">
                            <label for="slMPlatform" class="col-form-label">{{T .Localizer "nav_server" nil}} </label>
                            <select name="server" class="custom-select my-1 mr-sm-2" id="slMPlatform">
                                {{range $server := .servers}}
                                <option value="{{.ID}}">{{.Name}} - {{.Address}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputShell" class="col-form-label">{{T .Localizer "script" nil}}</label>
                            <textarea required name="shell" class="form-control"
                                id="inputShell">bash ./nb-deploy</textarea>
                        </div>
                        {{.csrf_token}}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">{{T .Localizer "cancel" nil}}</button>
                    <button id="btnEditRepo" onclick="saveForm('#formAddPipeline')"
                        class="btn btn-primary">{{T .Localizer "create" nil}}</button>
                </div>
            </div>
        </div>
    </div>
    {{/*modal add pipeline END*/}}
    {{/*modal repo START*/}}
    <div class="modal fade" id="modalRepo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{T .Localizer "project_management" nil}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        {{T .Localizer "delete_project_alert" nil}}
                    </div>
                    <form id="formEditRepo" onsubmit="return false;">
                        <input id="inputID" name="id" type="hidden">
                        <div class="form-group">
                            <label for="inputName" class="col-form-label">{{T .Localizer "project_name" nil}}</label>
                            <input required name="name" type="text" class="form-control" id="inputName">
                        </div>
                        <div class="form-group">
                            <label for="selectPlatform">{{T .Localizer "project_platform" nil}}</label>
                            <select name="platform" id="selectPlatform" class="form-control">
                                {{range $k,$v := .platforms}}
                                <option value="{{$k}}">{{$v}}</option>
                                {{end}}
                            </select>
                        </div>
                        {{.csrf_token}}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">{{T .Localizer "cancel" nil}}</button>
                    <button id="btnEditRepo" onclick="editRepoHandler('DELETE')" class="btn btn-danger">{{T .Localizer "delete" nil}}
                        <button id="btnEditRepo" onclick="editRepoHandler('PATCH')" class="btn btn-primary">{{T .Localizer "update" nil}}
                        </button>
                </div>
            </div>
        </div>
    </div>
    {{/*modal repo END*/}}
    <div class="card-deck">
        {{range $repo := .repos}}
        <div class="card mb-3" style="min-width: 300px">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="mt-1 limit-text-length">
                        <i class="octicon octicon-repo"></i>
                        <span class="badge badge-light">{{index $.platforms .Platform}}</span>
                        {{.Name}}
                    </h5>
                    <div style="min-width: 150px">
                        <button type="button" class="btn btn-sm btn-secondary pr-1 pl-2 copy-btn"
                            data-text="{{$.domain}}/webhook/{{.ID}}" data-ext="protocol_prefix" data-toggle="tooltip"
                            data-placement="top" title='{{T $.Localizer "click_to_copy_webhook_callback" nil}}'>
                            <i class="octicon octicon-plug"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary pr-1 pl-2 copy-btn"
                            data-text="{{.Secret}}" data-toggle="tooltip" data-placement="top" title='{{T $.Localizer "click_to_copy_webhook_secret" nil}}'>
                            <i class="octicon octicon-gist-secret"></i>
                        </button>
                        <button class="btn btn-sm btn-secondary pr-1 pl-2" data-toggle="modal" data-target="#modalRepo"
                            data-id="{{.ID}}" data-name="{{.Name}}" data-platform="{{.Platform}}">
                            <i class="octicon octicon-pencil"></i>
                        </button>
                        <button class="btn btn-sm btn-secondary pr-1 pl-2" data-method="POST" data-toggle="modal"
                            data-target="#modalAddPipeline" data-repo="{{.ID}}" data-whatever="{{.Platform}}">
                            <i class="octicon octicon-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{T $.Localizer "remark" nil}}</th>
                                <th scope="col" style="min-width: 90px">{{T $.Localizer "last_active" nil}}</th>
                                <th scope="col">{{T $.Localizer "status" nil}}</th>
                                <th scope="col">{{T $.Localizer "management" nil}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $p:= RepoPipelines .ID}}
                            {{$log := LastPipelineLog $p.ID}}
                            <tr>
                                <th scope="row">{{$p.ID}}</th>
                                <td style="min-width: 100px">{{$p.Name}}</td>
                                <td>{{if eq (len $log.Pusher) 0}}Nobody{{else}}{{$log.Pusher}}{{end}}</td>
                                <td>
                                    <a href="/pipelog/{{if lt 0 $log.ID }}{{$log.ID}}{{end}}" target="_blank"
                                        {{if eq $log.Status 1}} class="btn btn-success btn-sm">{{T $.Localizer "successful" nil}}
                                    </a>
                                    {{else if eq $log.Status 2}}
                                    class="btn btn-dark btn-sm">{{T $.Localizer "err_server_connect" nil}}</a>
                                    {{else if eq $log.Status 3}}
                                    class="btn btn-danger btn-sm">{{T $.Localizer "err_script_execute" nil}}</a>
                                    {{else if eq $log.Status 4}}
                                    class="btn btn-primary btn-sm">{{T $.Localizer "err_running" nil}}</a>
                                    {{else if eq $log.Status 5}}
                                    class="btn btn-info btn-sm">{{T $.Localizer "err_manual_stop" nil}}</a>
                                    {{else if eq $log.Status 6}}
                                    class="btn btn-warning btn-sm">{{T $.Localizer "err_execution_timeout" nil}}</a>
                                    {{else}}
                                    class="btn btn-secondary btn-sm">{{T $.Localizer "unknown" nil}}</a>
                                    {{end}}
                                </td>
                                <td style="min-width: 130px">
                                    <button class="btn btn-sm btn-secondary pr-1 pl-2" data-toggle="modal"
                                        data-target="#modalWebhookPipe{{$p.ID}}">
                                        <i class="octicon octicon-plug"></i>
                                    </button>
                                    <button class="btn btn-sm btn-secondary pr-1 pl-2" data-method="PATCH"
                                        data-toggle="modal" data-target="#modalAddPipeline" data-id="{{$p.ID}}"
                                        data-repo="{{$p.RepositoryID}}" data-name="{{$p.Name}}"
                                        data-branch="{{$p.Branch}}" data-server="{{$p.ServerID}}"
                                        data-shell="{{$p.Shell}}" data-events="{{$p.Events}}"
                                        data-whatever="{{$repo.Platform}}">
                                        <i class="octicon octicon-pencil"></i>
                                    </button>
                                    <button class="btn btn-sm btn-secondary pr-1 pl-2" data-method="DELETE"
                                        data-toggle="modal" data-target="#modalAddPipeline" data-id="{{$p.ID}}"
                                        data-repo="{{$p.RepositoryID}}" data-name="{{$p.Name}}"
                                        data-branch="{{$p.Branch}}" data-server="{{$p.ServerID}}"
                                        data-shell="{{$p.Shell}}" data-events="{{$p.Events}}"
                                        data-whatever="{{$repo.Platform}}">
                                        <i class="octicon octicon-trashcan"></i>
                                    </button>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{template "components/webhook_list" .}}
{{template "common/footer" .}}
{{end}}