{{define "repository/index"}}
{{template "common/header" .}}
<div class="container">
    <div class="alert alert-secondary pt-4">
        <div class="d-flex justify-content-center">
            <form id="formAddRepo" class="form-inline" onsubmit="return addRepo()">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputName">项目名：</label>
                    <input required name="name" type="text" class="form-control" id="inputName" placeholder="项目名称">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="selectPlatform">托管平台：</label>
                    <select name="platform" id="selectPlatform" class="form-control">
                    {{range $k,$v := .platforms}}
                        <option value="{{$k}}">{{$v}}</option>
                    {{end}}
                    </select>
                </div>
            {{.csrf_token}}
                <button type="submit" class="btn btn-primary mb-2 ml-3">添加项目</button>
            </form>
        </div>
    </div>
{{/*modal add pipeline START*/}}
    <script> var events = {{.events}};</script>
    <div class="modal fade" id="modalAddPipeline" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">添加交付流程</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        请给您的 Git Repo <b>添加 WebHook</b>，WebHook 地址与密钥在项目名称右边的按钮处复制！
                    </div>
                    <form id="formAddPipeline" method="post" onsubmit="return addPipeline()">
                        <input id="inputHDRepoID" name="repo" type="hidden">
                        <div class="form-group">
                            <label for="inputName" class="col-form-label">流程备注：</label>
                            <input required name="name" type="text" class="form-control" id="inputName">
                        </div>
                        <div class="form-group">
                            <label for="inputBranch" class="col-form-label">监控分支：</label>
                            <input required name="branch" type="text" class="form-control" id="inputBranch"
                                   value="master">
                        </div>
                        <div class="form-group">
                            <p>响应事件：
                                <small>（至少选择一个）</small>
                            </p>
                            <div class="d-inline" id="listEventCheckbox"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputBranch" class="col-form-label">部署服务器：</label>
                            <select name="server" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                            {{range $server := .servers}}
                                <option value="{{.ID}}">{{.Name}} - {{.Address}}</option>
                            {{end}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputShell" class="col-form-label">执行命令：</label>
                            <textarea required name="shell" class="form-control" id="inputShell">./nb-deploy</textarea>
                        </div>
                    {{.csrf_token}}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button onclick="saveForm('#formAddPipeline')" class="btn btn-primary">添加</button>
                </div>
            </div>
        </div>
    </div>
{{/*modal add pipeline END*/}}
    <div class="card-deck">
    {{range $repo := .repos}}
        <div class="card mb-3" style="min-width: 300px">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="mt-1 limit-text-length">
                        <span class="octicon octicon-repo"></span>
                        <span class="badge badge-light">{{index $.platforms .Platform}}</span>
                    {{.Name}}
                    </h5>
                    <div style="min-width: 150px">
                        <button type="button" class="btn btn-sm btn-secondary pr-1 pl-2 copy-btn"
                                data-text="https://{{$.domain}}/webhook/{{.ID}}"
                                data-toggle="tooltip"
                                data-placement="top" title="点击复制 WebHook 地址">
                            <span class="octicon octicon-plug"></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary pr-1 pl-2 copy-btn"
                                data-text="{{.Secret}}"
                                data-toggle="tooltip"
                                data-placement="top" title="点击复制 WebHook 密钥">
                            <span class="octicon octicon-gist-secret"></span>
                        </button>
                        <button class="btn btn-sm btn-secondary pr-1 pl-2">
                            <span class="octicon octicon-pencil"></span>
                        </button>
                        <button class="btn btn-sm btn-secondary pr-1 pl-2" data-toggle="modal"
                                data-target="#modalAddPipeline" data-repo="{{.ID}}" data-whatever="{{.Platform}}">
                            <span class="octicon octicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">备注</th>
                            <th scope="col" style="min-width: 90px">最后触发</th>
                            <th scope="col">状态</th>
                            <th scope="col">管理</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $p:= RepoPipelines .ID}}
                        {{$log := LastPipelineLog $p.ID}}
                        <tr>
                            <th scope="row">{{$p.ID}}</th>
                            <td style="min-width: 100px">{{$p.Name}}</td>
                            <td>{{if eq (len $log.Pusher) 0}}Nobody{{else}}{{$log.Pusher}}{{end}}</td>
                            <td>
                            <a href="/pipelog/{{if lt 0 $log.ID }}{{$log.ID}}{{end}}" target="_blank"
                            {{if eq $log.Status 1}}
                               class="btn btn-success btn-sm">Success</a>
                            {{else if eq $log.Status 2}}
                                class="btn btn-danger btn-sm">Server</a>
                            {{else if eq $log.Status 3}}
                                class="btn btn-warning btn-sm">Exec</a>
                            {{else}}
                                class="btn btn-secondary btn-sm">None</a>
                            {{end}}
                            </td>
                            <td style="min-width: 90px">
                                <button class="btn btn-sm btn-secondary pr-1 pl-2">
                                    <span class="octicon octicon-pencil"></span>
                                </button>
                                <button class="btn btn-sm btn-secondary pr-1 pl-2">
                                    <span class="octicon octicon-trashcan"></span>
                                </button>
                            </td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{end}}
    </div>
</div>
{{template "common/footer" .}}
{{end}}