{{define "admin/index"}}
{{template "common/header" .}}
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center pt-2">
        {{template "common/admin_sidebar" .}}
        </div>
        <div class="col-md-9 pt-2">
            <div class="card">
                <div class="card-header">
                    欢迎您，{{.user.GName}}
                </div>
                <div class="card-body">
                    运行中的 Goroutine：{{NumGoroutine}}<br>
                    当前内存使用量：{{.memory.Alloc}}<br>
                    当前内存占用总量：{{.memory.TotalAlloc}}<br>
                    当前内存占用总量：{{.memory.TotalAlloc}}<br>
                    下次 GC 回收量：{{.memory.NextGC}}<br>
                    已执行 GC 次数：{{.memory.NumGC}}<br>
                </div>
            </div>
        </div>
    </div>
{{template "common/footer" .}}
{{end}}