{{define "admin/index"}}
{{template "common/header" .}}
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center pt-2">
            {{template "common/admin_sidebar" .}}
        </div>
        <div class="col-md-9 pt-2">
            <div class="card">
                <div class="card-header">
                    {{T .Localizer "admin_welcome" .user}}
                </div>
                <div class="card-body">
                    {{T .Localizer "num_of_goruntines" nil}}{{NumGoroutine}}<br>
                    {{T .Localizer "memory_alloc" nil}}{{.memory.Alloc}}<br>
                    {{T .Localizer "total_memory_alloc" nil}}{{.memory.TotalAlloc}}<br>
                    {{T .Localizer "next_gc" nil}}{{.memory.NextGC}}<br>
                    {{T .Localizer "num_gc" nil}}{{.memory.NumGC}}<br>
                </div>
            </div>
        </div>
    </div>
    {{template "common/footer" .}}
    {{end}}