{{define "admin/index"}}
{{template "common/header" .}}
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center pt-2">
        {{template "common/admin_sidebar" .}}
        </div>
        <div class="col-md-9 pt-2">
            <div class="card">
                <div class="card-header">
                    欢迎您，{{.user.GName}}
                </div>
                <div class="card-body">
                    运行中的Goroutine：{{NumGoroutine}}
                </div>
            </div>
        </div>
    </div>
{{template "common/footer" .}}
{{end}}