{{define "common/admin_sidebar"}}
<div class="card">
    <div class="card-header">
        {{T .Localizer "nav_dashboard" nil}}
    </div>
    <div class="list-group list-group-flush">
        <a href="/admin/"
            class="list-group-item list-group-item-action{{if eq .router "/admin/"}} active{{end}}">{{T .Localizer "nav_dashboard" nil}}</a>
        <a href="/admin/user/"
            class="list-group-item list-group-item-action{{if eq .router "/admin/user/"}} active{{end}}">{{T .Localizer "nav_user_management" nil}}</a>
        <a href="/admin/running/"
            class="list-group-item list-group-item-action{{if eq .router "/admin/running/"}} active{{end}}">{{T .Localizer "nav_deploying_management" nil}}</a>
    </div>
</div>
{{end}}