{{define "common/footer"}}
<div class="container">
    <div class="mt-md-5 pt-2 py-2 border-top text-center">
        <p class="text-secondary" style="margin-bottom: 0">[统计] 用户 <b>{{.stat.UserCount}}</b> 位, 服务器
            <b>{{.stat.ServerCount}}</b> 台, 项目 <b>{{.stat.RepoCount}}</b> 个, 交付流程 <b>{{.stat.PipelineCount}}</b> 个,
            历史交付: <b>{{.stat.PipeLogCount}}</b> 次, Running: <b>{{.stat.RunningCount}}</b>.</p>
    </div>
    <footer class="pt-4 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/static/image/logo.png" alt="" width="24"
                     height="24">
                <small class="d-block mb-3 text-muted">&copy; 2018 NoCD</small>
            </div>
            <div class="col-6 col-md">
                <h5>相关链接</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://github.com/naiba/nocd" target="_blank">贡献代码</a></li>
                    <li>
                        <a class="text-muted" data-toggle="tooltip" data-placement="top" title="QQ群：710012414"
                           target="_blank"
                           href="//shang.qq.com/wpa/qunwpa?idkey=7675ced9ff354881807cf30a0de659e336fa0518ada51c125289d8ac6dda5bc2"><img
                                border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="奶爸 · 大佬委员会"
                                title="奶爸 · 大佬委员会"></a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>赞助商</h5>
                <ul class="list-unstyled text-small">
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>开发者</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://git.cm/naiba?tab=activity" target="_blank">奶爸@Git.cm</a></li>
                    <li><span class="text-muted">邀您加入</span></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.0/dist/clipboard.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/nocd.js?14"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{.GA_id}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', {{.GA_id}});
</script>

</body>
</html>
{{end}}
