{{define "common/footer"}}
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/static/image/logo.png" alt="" width="24"
                     height="24">
                <small class="d-block mb-3 text-muted">&copy; 2018 GoCD</small>
            </div>
            <div class="col-6 col-md">
                <h5>相关链接</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">源代码</a></li>
                    <li><a class="text-muted" href="#">交流群</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>欢迎贡献</h5>
                <ul class="list-unstyled text-small">
                    <li><span class="text-muted">联系奶爸</span></li>
                    <li><span class="text-muted">一起开车</span></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>作者</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">@ 奶爸</a></li>
                    <li><a class="text-muted" href="#">待您加入</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.0/dist/clipboard.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/static/js/gocd.js?_100008"></script>

</body>
</html>
{{end}}