{{define "common/header"}}
<!doctype html>
<html lang="zh">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" type="image/png" href="/static/image/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.bootcss.com/octicons/4.4.0/font/octicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/gocd.css">

    <title>GoCD —— Golang 开源持续交付系统</title>
</head>
<body>
<div class="p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <div class="container d-flex flex-column flex-md-row align-items-center">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">GoCD</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/server"><span class="octicon octicon-server"></span>部署机器</a>
            <a class="p-2 text-dark" href="/repository/"><span class="octicon octicon-repo"></span>代码仓库</a>
            <a class="p-2 text-dark" href="/pipeline/"><span class="octicon octicon-zap"></span>持续交付</a>
            <a class="p-2 text-dark" href="/settings"><span class="octicon octicon-settings"></span>通知配置</a>
        </nav>
    {{if .isLogin}}
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="octicon octicon-mark-github"></span> {{.user.GName}}
            </a>
            <div class="dropdown-menu" style="min-width: auto" aria-labelledby="navbarDropdownMenuLink">
                <button class="dropdown-item" onclick="logout()">注销</button>
            </div>
        </div>
    {{else}}
        <form id="loginForm" action="/oauth2/login" method="post">
            {{.csrf_token}}
        </form>
        <button onclick="login()" class="btn btn-outline-primary"><span
                class="octicon octicon-mark-github"></span> 登陆
        </button>
    {{end}}
    </div>
</div>
{{end}}