{{define "settings/index"}}
{{template "common/header" .}}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">交付结果推送</h5>
            <h6 class="card-subtitle mb-2 text-muted">请先在 <a href="https://sc.ftqq.com" target="_blank">ServerChan</a>
                登录，获取SCKEY并绑定微信</h6>
            <form id="formNotify" onsubmit="return setNotification()">
                <div class="form-group">
                    <label for="inputAddress">SCKEY</label>
                    <input name="sckey" required type="text" class="form-control" id="inputAddress"
                           placeholder="SCU19467Tbc970b3xc1b729aw2d1e6d057af8r3ef5a4d9f75aa1ab"
                           value="{{.user.Sckey}}">
                </div>
                <div class="form-check mb-3">
                    <input
                    {{if .user.PushSuccess}}checked{{end}} name="push_success" type="checkbox" value="true"
                    class="form-check-input"
                    id="inputOnlyError">
                    <label class="form-check-label" for="inputOnlyError">推送交付成功的通知</label>
                </div>
            {{.csrf_token}}
                <button type="submit" class="btn btn-primary">保存配置</button>
            </form>
        </div>
    </div>
</div>
{{template "common/footer" .}}
{{end}}