{{define "pipelog/index"}}
{{template "common/header" .}}
<div class="container">
    <div class="table-responsive">
        <table class="table table-hover" style="min-width: 1500px;">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">日志</th>
                    <th scope="col">所属项目</th>
                    <th scope="col">所属流程</th>
                    <th scope="col">状态</th>
                    <th scope="col">触发时间</th>
                    <th scope="col">部署时长</th>
                    <th scope="col">触发者</th>
                </tr>
            </thead>
            <tbody>
                {{range $l := .logs}}
                <tr>
                    <th scope="row">{{$l.ID}}</th>
                    <td><a class="btn btn-sm btn-secondary" href="/pipelog/{{$l.ID}}">Log</a></td>
                    <td>{{$l.Pipeline.Repository.Name}}</td>
                    <td>{{$l.Pipeline.Name}}</td>
                    <td>
                        <button{{if eq $l.Status 1}} class="btn btn-success btn-sm">部署成功
                            </button>
                            {{else if eq $l.Status 2}}
                            class="btn btn-dark btn-sm">服务器错误</button>
                            {{else if eq $l.Status 3}}
                            class="btn btn-danger btn-sm">执行错误</button>
                            {{else if eq $l.Status 4}}
                            class="btn btn-primary btn-sm">正在运行</button>
                            {{else if eq $l.Status 5}}
                            class="btn btn-info btn-sm">人工停止</button>
                            {{else if eq $l.Status 6}}
                            class="btn btn-warning btn-sm">执行超时</button>
                            {{else}}
                            class="btn btn-secondary btn-sm">未知状态</button>
                            {{end}}
                    </td>
                    <td>{{TimeFormat $l.StartedAt}}</td>
                    <td>{{TimeDiff $l.StartedAt $l.StoppedAt}}</td>
                    <td>{{$l.Pusher}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    {{if gt .allPage 0}}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{if gt .currentPage 1}}
            <li class="page-item"><a class="page-link" href="?page={{MathSub .currentPage 1}}">上一页</a></li>
            {{end}}
            {{if lt .currentPage .allPage}}
            <li class="page-item"><a class="page-link" href="?page={{MathAdd .currentPage 1}}">下一页</a></li>
            {{end}}
        </ul>
    </nav>
    {{end}}
</div>
{{template "common/footer" .}}
{{end}}