{{define "components/webhook"}}
<div class="modal fade" id="modalWebhook" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 9999999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Webhook</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="card-title">{{T .Localizer "delivery_result_push" nil}}</h5>
                <div class="card-subtitle mb-2 text-muted">
                    {{T .Localizer "webhook_desc" nil | unsafe}}
                </div>
                <form id="formWebhook" onsubmit="return webhookHandler()">
                    <input id="inputID" type="hidden" name="id">
                    <input id="inputPipelineID" type="hidden" name="pipeline_id">
                    <div class="form-group">
                        <label for="inputURL">URL</label>
                        <input name="url" required type="text" class="form-control" id="inputURL"
                            placeholder="https://example.com/callback/#PipelineID#">
                    </div>
                    <div class="form-group">
                        <label for="selectMethod">{{T .Localizer "webhook_request_method" nil}}</label>
                        <select name="request_method" class="form-control" id="selectMethod">
                            <option value="1">Get</option>
                            <option value="2">Post</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectType">{{T .Localizer "webhook_request_type" nil}}</label>
                        <select name="request_type" class="form-control" id="selectType">
                            <option value="1">JSON</option>
                            <option value="2">Form</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="textareaBody">Body</label>
                        <textarea name="request_body" class="form-control" id="textareaBody" rows="3"
                            placeholder='{"msg":"#Pusher#推送到仓库。\n这是日志：\n#Log#"}'></textarea>
                    </div>
                    <div class="form-check mb-3">
                        <input name="verify_ssl" type="checkbox" class="form-check-input" id="checkVerifySSL"
                            value="true">
                        <label class="form-check-label" for="checkVerifySSL">{{T .Localizer "webhook_verify_ssl" nil}}</label>
                    </div>
                    <div class="form-check mb-3">
                        <input name="push_success" type="checkbox" class="form-check-input" id="checkPushSuccess"
                            value="true">
                        <label class="form-check-label" for="checkPushSuccess">{{T .Localizer "notify_if_successful" nil}}</label>
                    </div>
                    <div class="form-check mb-3">
                        <input name="enable" type="checkbox" class="form-check-input" id="checkEnable" value="true">
                        <label class="form-check-label" for="checkEnable">{{T .Localizer "enable" nil}}</label>
                    </div>
                    {{.csrf_token}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{T .Localizer "cancel" nil}}</button>
                <button id="btnSubmit" onclick="saveForm('#formWebhook')" class="btn btn-primary">{{T .Localizer "create" nil}}</button>
            </div>
        </div>
    </div>
</div>
{{end}}